* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header {
  background-image: linear-gradient(to top, #ff416c, #ff4b2b);
}

.main-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.main-header .log {
  width: 100px;
}

.main-header .log img {
  width: 100%;
  vertical-align: middle;
}

.main-header .main-nav {
  margin: auto;
  display: flex;
}

.main-header .main-nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 1em;
  position: relative;
  transform: translateY(0px);
  transition: 0.3s;
  /* display: block; */
}

.main-header .main-nav a:hover {
  transform: translateY(-5px);
}

.main-header .main-nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  height: 0;
  bottom: -5px;
  border-bottom: 1px solid #fff;
  transition: 0.3s;
}

.main-header .main-nav a:hover::after {
  left: 0;
  right: 0;
}
