/* 菜单样式 */
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* 设置为垂直方向 */
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  display: block;
}

.menu li {
  position: relative;
  margin-bottom: 5px;
}

.menu li:hover {
  background-color: #f3f3f3;
}

/* 子菜单样式 */
.menu li > ul {
  position: absolute; /* 使用绝对定位 */
  left: 100%; /* 子菜单从父菜单的右侧开始 */
  top: 0; /* 与父菜单项顶部对齐 */
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li:hover > ul {
  display: block;
  background-repeat: no-repeat;
}

/* 子菜单项的样式 */
.menu li ul li {
  padding: 8px 16px;
}

.menu li ul li:hover {
  background-color: #ddd;
}
