* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC", sans-serif;
}

.wrap {
  width: 100%;
  display: flex;
}

.item {
  width: 25%;
  position: relative;
}

.item img {
  width: 100%;
  vertical-align: middle;
}

.item .txt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}

.item h2 {
  font-size: 2rem;
  color: #ff0;
  font-weight: 500;
}

.item h2::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin: 10px 0;
  background-color: #ff0;
}

.item:hover h2::after {
  width: 100%;
  transition: width 0.5s 0.3s;
}

.item .txt p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 100;
}

.item:hover .txt {
  opacity: 1;
  transition: opacity 0.8s;
}
